{% extends 'base.html.twig' %}

{% block title %}Modification information
{% endblock %}

{% block slide %}{% endblock %}

{% block body %}

    <section class="container bootstrap snippet">
        <div class="mt-5 mb-5 pt-5 col-sm-12">

            <div class="tab-content">
                <div class="tab-pane active home">
                    <h4 class="mb-8 text-center">Modification des informations personnel</h4>
                    <hr>
                    <div id="updateForm">
                        {{ form_start(form) }}

                        <div class="form-group">

                            <div class="col-xs-6">
                                <div class="row">
                                    <h4 class="col-sm-6">
                                        Nom
                                    </h4>
                                    <p class="col-sm-4">
                                        {{ form_widget(form.name) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <div class="row">
                                    <h4 class="col-sm-6">
                                        Prenom
                                    </h4>
                                    <p class="col-sm-4">
                                        {{ form_widget(form.lastname) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <div class="row">
                                    <h4 class="col-sm-6">
                                        Téléphone
                                    </h4>
                                    <p class="col-sm-4">
                                        {{ form_widget(form.phone) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">

                            <div class="col-xs-6">
                                <div class="row">
                                    <h4 class="col-sm-6">
                                        Adresse
                                    </h4>
                                    <p class="col-sm-4">
                                        {{ form_widget(form.adress) }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">

                            <div class="col-xs-6">
                                <div class="row">
                                    <h4 class="col-sm-6">
                                        ville
                                    </h4>
                                    <p class="col-sm-4">
                                        {{ form_widget(form.city) }}
                                    </p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-xs-6">
                                <div class="row">
                                    <h4 class="col-sm-6">
                                        Code postal
                                    </h4>
                                    <p class="col-sm-4">
                                        {{ form_widget(form.zipCode) }}
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-6">
                                <div class="row">
                                    <h4 class="col-sm-6">Pays</h4>
                                    <p class="col-sm-4">
                                        {{form_widget(form.pays) }}
                                    </p>
                                </div>
                            </div>
                        </div>


                    </div>

                    <hr>

                    <button class="btn btn-primary">{{ button_label|default('Enregistrer') }}</button>

                    {{ form_end(form) }}

                </div>
            </div>
        </div>
    </section>


{% endblock %}
