{% extends 'admin/admin.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<style>
    .wrap
    {
        padding-top: 30px;
    }

    .glyphicon
    {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    small
    {
        display: block;
        color: #888;
    }

    .well
    {
        border: 1px solid blue;
    }
</style>
<section class="container">
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Username</th>
                <th>CreatedAt</th>
                <th>Name</th>
                <th>Lastname</th>
            
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{% for role in user.roles %} {{ role }} {% endfor %} </td>
                <td>{{ user.username }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
    
                <td>
                    <a class="btn btn-secondary"href="{{ path('user_show', {'id': user.id}) }}">show <i class="fa fa-eye"></i></a>
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('admin_user_new') }}">Nouveau <i class="fa fa-plus"></i></a>
</section>
{% endblock %}
