{% extends 'base.html.twig' %}

{% block title %}Mon profile
{% endblock %}

{% block body %}

    <title>Informations</title>
    <meta charset="utf-8">
    <meta
    content="width=device-width, initial-scale=1" name="viewport">
    {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <hr>

    {% block slide %}{% endblock %}
    <div class="container bootstrap snippet pt-3">
        <div class="row">
            <div class="m-auto pt-5 col-sm-6">
                <div class="tab-content">
                    {% block admin %}
                        <div class="tab-pane active home">
                            <h4 class="m-3 text-center">Information personnel</h4>
                            <hr>
                            <div id="updateForm">

                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                Nom
                                            </h4>
                                            <p class="col-sm-6">
                                                {{ user.name }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                Prénom
                                            </h4>
                                            <p class="col-sm-6">
                                                {{ user.lastname }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                téléphone
                                            </h4>
                                            <p class="col-sm-6">
                                                {{ user.phone }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                Adresse
                                            </h4>
                                            <p class="col-sm-6">
                                                {{ user.adress }}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                ville
                                            </h4>
                                            <p class="col-sm-6">
                                                {{user.city}}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                Code postal
                                            </h4>
                                            <p class="col-sm-6">
                                                {{ user.zipCode }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">Pays</h4>
                                            <p class="col-sm-6">
                                                {{ user.pays }}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <a class="primary-btn" href=" {{ path('user_edit', {'id': user.id}) }} ">
                                            <i class="glyphicon glyphicon-ok-sign"></i>
                                            Modifier</a>
                                    </div>
                                </div>

                            </div>

                            <hr>
                        {% endblock %}

                    </div>
                    <!--/tab-pane-->

                </div>
                <!--/tab-content-->

            </div>
        </div>
    </div>
{% endblock %}
