{% extends 'base.html.twig' %}

{% block title %}Connexion
{% endblock %}

{% block slide %}{% endblock %}

{% block body %}
    <section class="container mt-5">
        <div class="row">
            <div class="m-auto pt-0 p-5 col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h1 class="h3 mb-3 font-weight-normal">Se connecter</h1>
                <form class="m-auto" method="post">
                    {% if error %}
                        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}


                    <label class="sr-only" for="inputEmail">Email</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="Email" required="required" autofocus="autofocus">
                    <label class="sr-only" for="inputPassword">Password</label>
                    <input class="form-control" id="inputPassword" name="password" placeholder="Password" required="required" type="password">

                    <input
                    type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

                    {#                 
                                                                            Uncomment this section and add a remember_me option below your firewall to activate remember me functionality.
                                                                            See https://symfony.com/doc/current/security/remember_me.html #}

                    <div class="checkbox mb-3">
                        <label>
                            <input name="_remember_me" type="checkbox">
                            rester connecter
                        </label>
                    </div>
                    <div>
                        <a href="{{ path('reset_password') }}">Mot de passe oublié ?</a>
                    </div>


                    <button class="btn btn-lg btn-success mt-2" type="submit">
                        Connexion
                    </button>


                </form>
                {# <a class="btn btn-primary" style="color: white; font-size:14px" href="{{path("connect_facebook_start")}}"><i class="fa fa-facebook"></i> Continuer avec facebook</a>
                                                             <a class="btn btn-facebook" href="{{path("connect_facebook_start")}}">Log in with Facebook!</a> #}
            </div>
            <div class="mt-0 pt-0 p-5 col-xs-12 col-sm-12 col-md-6 col-lg-6">
                <h1 class="h3 mb-3 font-weight-normal">Pas encore inscrit?</h1>
                <div class="m-auto">

                    <p>crée ton compte maintenant pour suivre nôtre actualité et profiter d'avantage lors de nos soirées</p>
                    <a href="{{ path("signIn") }}">
                        <button class="btn btn-lg btn-primary mb-1" type="submit">
                            S'inscrire
                        </button>
                    </a>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
