{% extends 'base.html.twig' %}

{% block title %}Nouveau mot de passe !
{% endblock %}
{% block slide %}{% endblock %}

{% block body %}
    <section class="container ">
        <div class="row mt-5">
            <form method="post">

                <h1 class="h3 mb-3 font-weight-normal">Nouveau mot de passe</h1>
                <label class="sr-only" for="inputPassword">Mot de passe</label>
                <input class="form-control" id="inputPassword" name="password" placeholder="Password" required type="password">
                <input type="hidden" name="token" value="{{ token }}">

                <button class="btn btn-lg btn-primary" type="submit">
                    Valider
                </button>
            </form>
        </div>

    </section>
{% endblock %}
