{% extends 'base.html.twig' %}

{% block title %}Inscription !
{% endblock %}

{% block body %}
    <script>

     
    </script>
    <style>
        input {
            width: 100%;
        }
    </style>
    {% block slide %}{% endblock %}
    <section class="login-block m-5 pt-5">
        <div class="container ">
            <div class="row">
                <div class="border border-grey col-md-4 login-sec m-auto">
                    <h2 class="text-center mb-4">Inscription</h2>
                    {{ form_start(form) }}
                    <div class="form-group">
                        <label class="col-10" for="register_username">
                            <i class="fa fa-user" style="font-size:24px"></i>
                            Nom d'utilisateur</label>

                        {{ form_widget(form.username)}}
                    </div>
                    <div class="form-group">
                        <label class="col-10" for="register_password">
                            <i class="fa fa-lock" style="font-size:24px"></i>
                            Mot de passe</label>

                        {{ form_widget(form.password)}}
                        <span class="message"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-10" for="register_confirm_password">
                            <i class="fa fa-lock" style="font-size:24px"></i>
                            Comfirme Mot de passe</label>

                        {{ form_widget(form.confirm_password)}}
                        <span class="message"></span>
                    </div>
                    <div class="form-group">
                        <label class="col-10" for="register_email">
                            <i class="fa fa-envelope" style="font-size:24px"></i>
                            adresse mail</label>

                        {{ form_widget(form.email)}}
                    </div>
                    <button  id="valid" class="btn btn-success mb-1" type="submit" disabled >
                        S'inscrire
                    </button>
                    {{ form_end(form)}}

                </div>

            </div>
        </div>
    </section>

    <script>
        // function qui verifie l'entrée des champs mot de passe 
        // et qui active le bouton envoyer si ils sont S'inscrire
        $('#register_password, #register_confirm_password').on('keyup', function () {
            
        if ($('#register_password').val() == $('#register_confirm_password').val()) {
            $('.message').html('Identique').css('color', 'green');
            $('#valid').removeAttr("disabled");

        } else 
        
            $('.message').html('Different').css('color', 'red');
        
        });
    </script>
{% endblock %}
