{% extends 'base.html.twig' %}

{% block title %}Mot de passe oublié
{% endblock %}

{% block slide %}{% endblock %}

{% block body %}
    <section class="container m-5">
        <div class="row">
            <div class="m-auto pt-0 p-5 col-xs-12 col-sm-12 col-md-8 col-lg-8">
                <form method="post">

                    <h1 class="h3 mb-3 font-weight-normal">nouveau mot de passe</h1>
                    <label class="sr-only" for="inputEmail">Email</label>
                    <p> vous allez recevoir un email contenant un lien permettant de reinitialisé votre mot de passe</p>
                    <input autofocus class="form-control" id="inputEmail" name="email" placeholder="Email" required type="email">

                    <button class="btn btn-lg btn-primary mt-2" type="submit">
                        Envoyer le mail
                    </button>

                </form>
            </div>
        </div>
    </section>
{% endblock %}
