{% extends 'base.html.twig' %}

{% block title %}Edit Notations{% endblock %}

{% block body %}
   
  
<section class="p-5">

     <h1>Edit Notations</h1>

    {{ include('notations/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('notations_index') }}">back to list</a>

    {{ include('notations/_delete_form.html.twig') }}
</section>
{% endblock %}
