{% extends 'base.html.twig' %}

{% block title %}Notations index{% endblock %}

{% block body %}
<section class="container">
    <h1>Notations index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Content</th>
                <th>Vote</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for notation in notations %}
            <tr>
                <td>{{ notation.id }}</td>
                <td>{{ notation.content }}</td>
                <td>{{ notation.vote }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('notations_show', {'id': notation.id}) }}">show</a>
                    <a class="btn btn-primary"  href="{{ path('notations_edit', {'id': notation.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="mt-2 mb-5">
    <a class="btn btn-success" href="{{ path('notations_new') }}">Nouveau <i class="fa fa-plus"></i></a>
    </div>
</section>
{% endblock %}
