{% extends 'base.html.twig' %}

{% block title %}New Notations{% endblock %}

{% block body %}
    
  
<section class="container">
    <h1>Ajouter une note</h1>

    {{ include('notations/_form.html.twig') }}

    <div class="mt-2 mb-2">
        <a class="btn btn-secondary" href="{{ path('notations_index') }}">Retour </a>
    </div>
</section>
{% endblock %}
