{% extends 'base.html.twig' %}

{% block title %}Notations{% endblock %}

{% block body %}
<section class="container">
    <h1>Notations</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ notation.id }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ notation.content }}</td>
            </tr>
            <tr>
                <th>Vote</th>
                <td>{{ notation.vote }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('notations_index') }}">retour</a>

    <a class="btn btn-primary" href="{{ path('notations_edit', {'id': notation.id}) }}">edit</a>
    <div class="mt-2 mb-5">
    {{ include('notations/_delete_form.html.twig') }}
    </div>
</section>
{% endblock %}
