.myImg {
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
  }
/* le Modal (background) */
.modal {
  display: none; /* cacher par default */
  position: fixed; 
  z-index: 1000; /* pour etre devant tout */
  padding-top: 100px; /* position de la box box */
  left: 0;
  top: 0;
  width: 100%; /* taille 100% */
  height: 100%; /* taille 100% */
  overflow: auto; /* si on a besoin d'n scroll */
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.9);
}

.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption dans la modal Image */
.caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: rgb(192, 182, 182);
  font-size: 2rem;
  padding: 10px 0;
  height: 150px;
}

/* ajout de l'effet */
.modal-content, .caption {  
  -webkit-animation-name: zoom;
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
  animation-duration: 0.6s;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)} 
  to {-webkit-transform:scale(1)}
}

@keyframes zoom {
  from {transform:scale(0)} 
  to {transform:scale(1)}
}

/*boutton de fermeture */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  z-index:1001;
  color: #fd1111;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image avec un petit écran */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}
