.pagination > li > a
{
    background-color: white;
    color: purple;
}

.pagination > li > a:focus,
.pagination > li > a:hover,
.pagination > li > span:focus,
.pagination > li > span:hover
{
    color: purple;
    background-color: #eee;
    border-color: #ddd;
}

.pagination > .active > a
{
    color: white;
    background-color: purple;
    border: solid 1px purple;
}
    .pagination > .active > a:hover
{
    background-color: purple;
    border: solid 1px purple;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: purple;
    border-color: purple;
}