{% extends 'base.html.twig' %}

{% block title %}New Pictures{% endblock %}

{% block body %}
<section class="container">
    <h1>Ajouter une image</h1>

    {{ include('pictures/_form.html.twig') }}

    <a href="{{ path('pictures_index') }}">back to list</a>
</section>
{% endblock %}
