{% extends 'base.html.twig' %}

{% block title %}Pictures{% endblock %}

{% block body %}
<section class="container">


    <h1>Pictures</h1>
    {{dump(picture)}}

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ picture.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ picture.name }}</td>
            </tr>
            <tr>
                <th>Alt</th>
                <td>{{ picture.alt }}</td>
            </tr>
            <tr>
                <th>CreatedAt</th>
                <td>{{ picture.createdAt ? picture.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('pictures_index') }}">back to list</a>

    <a href="{{ path('pictures_edit', {'id': picture.id}) }}">edit</a>

    {{ include('pictures/_delete_form.html.twig') }}
</section>
{% endblock %}
