

{% extends 'base.html.twig' %}

{% block title %}Liste des categories de menu{% endblock %}

{% block body %}
<style>
.menuTd > img{
    max-height: 70px;

}

.cen{
   
text-align:center; 
padding: 0;

margin: 0;
}
</style>
<section class="container pt-20 pb-20">
    <h1>Liste des categories de menu</h1>

    <table class="table table-striped table-dark">
        <thead class="">
            <tr class="text-center">
                <th class="col-1">Id</th>
                <th class="col-2">Name</th>
                <th class="col-3">Description</th>
                <th class="col-4">actions</th>
            </tr>
        </thead>
        <tbody class="">
        {% for category_menu in category_menus %}
            <tr >
               
                
                <td class="text-center col-1 ">{{ category_menu.id }}</td>
                <td class="text-center col-2 ">{{ category_menu.name }}</td>
                <td class="text-center col-3 ">{{ category_menu.description }}</td>
                <td class="text-center col-4 ">
                    <a class="col-2 btn btn-secondary" href="{{ path('category_menu_show', {'id': category_menu.id}) }}">show <i class="fa fa-eye"></i></a>
                    <a class="col-2 btn btn-primary" href="{{ path('category_menu_edit', {'id': category_menu.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('category_menu_new') }}">Nouveau <i class="fa fa-plus"></i></a>
</section>    
{% endblock %}
