{% extends 'base.html.twig' %}

{% block title %}CategoryMenu{% endblock %}

{% block body %}
<section class="container">
    <h1>CategoryMenu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_menu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ category_menu.name }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category_menu.description }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary "href="{{ path('category_menu_index') }}">retour</a>

    <a class="btn btn-secondary" href="{{ path('category_menu_edit', {'id': category_menu.id}) }}">edit</a>
    <div class="mt-2 mb-5">
    {{ include('category_menu/_delete_form.html.twig') }}
    </div>
</section>
{% endblock %}
