{% extends 'admin/admin.html.twig' %}

{% block title %}Modification Blog
{% endblock %}

{% block body %}
    <section class="p-5">

        <h1>Modification du Blog</h1>

        {{ include('admin/blog/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('admin_blog_index') }}">Retour à la liste</a>

        {{ include('admin/blog/_delete_form.html.twig') }}
    </section>

{% endblock %}
