{% extends 'admin/admin.html.twig' %}

{% block title %}Gestion blog
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Liste des blogs</h1>

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Créer</th>
                    <th>Mis à jours</th>
                    <th>Sous-titre</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for blog in blogs %}
                    <tr>
                        <td>{{ blog.id }}</td>
                        <td>{{ blog.title }}</td>
                        <td>{{ blog.createdAt ? blog.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ blog.updatedAt ? blog.updatedAt|date('Y-m-d H:i:s') : '' }}</td>
                        <td>{{ blog.subTitle }}</td>
                        <td>
                            <a href="{{ path('blog_show', {'id': blog.id, 'slug': blog.slug}) }}" class="btn btn-success btn-circle btn-sm" data-toggle="tooltip" title="Voir le blog">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="{{ path('admin_blog_edit', {'id': blog.id, 'slug': blog.slug}) }}" class="btn btn-primary btn-circle btn-sm" data-toggle="tooltip" title="Modifier le blog">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="btn btn-danger btn-circle btn-sm" data-toggle="tooltip" href="#" title="Supprimer">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="7">Aucun Blog</td>
                    </tr>
                {% endfor %}
                 
            </tbody>
        </table>
        <div class="row">
                <div class="pagination mb-5 ml-auto mr-auto text-purple">
                {{ knp_pagination_render(blogs)}}
                </div>
            </div>

        <a class="btn btn-success" href="{{ path('admin_blog_new') }}" data-toggle="tooltip" title="Creer un blog">Nouveau
            <i class="fa fa-plus"></i>
        </a>
    </section>

{% endblock %}
