{% extends 'admin/admin.html.twig' %}

{% block title %}Nouveau Blog
{% endblock %}

{% block body %}
    <section class="container">
        <br>
        <h1>Creation d'un nouveau Blog</h1>
        <br>

        {{ include('admin/blog/_form.html.twig') }}
        <div class="mt-2 mb-5">
            <a class="btn btn-secondary" href="{{ path('admin_blog_index') }}">Retour</a>
        </div>
    </section>

{% endblock %}
