{% extends 'base.html.twig' %}

{% block title %}CategoryBlog index{% endblock %}

{% block body %}
    <h1>CategoryBlog index</h1>

    <table class="table table-striped table-dark">
        <thead>
            <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Description</th>
                <th>Image</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for category_blog in category_blogs %}
            <tr>
                <td>{{ category_blog.id }}</td>
                <td>{{ category_blog.title }}</td>
                <td>{{ category_blog.description }}</td>
                <td>{{ category_blog.image }}</td>
                <td>
                    <a class="btn btn-secondary" href="{{ path('category_blog_show', {'id': category_blog.id}) }}">show <i class="fa fa-eye"></i></a>
                    <a class="btn btn-primary" href="{{ path('category_blog_edit', {'id': category_blog.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('category_blog_new') }}">Nouveau <i class="fa fa-plus"></i></a>

{% endblock %}
