{% extends 'base.html.twig' %}

{% block title %}Liste des catégories du blog{% endblock %}

{% block body %}
    <h1>Categories de Blog</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ category_blog.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ category_blog.title }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ category_blog.description }}</td>
            </tr>
            <tr>
                <th>Image</th>
                <td>{{ category_blog.image }}</td>
            </tr>
        </tbody>
    </table>

    <a  class="btn btn-primary" href="{{ path('admin_category_blog_index') }}">back to list</a>

    <a class="btn btn-secondary" href="{{ path('admin_category_blog_edit', {'id': category_blog.id}) }}">edit</a>

    {{ include('admin/category_blog/_delete_form.html.twig') }}
{% endblock %}
