<form method="post" action="{{ path('admin_category_menu_delete', {'id': category_menu.id}) }}" onsubmit="return confirm('voulez-vous vraiment supprimer la categorie {{ category_menu.name }}  ');">
    <input name="_method" type="hidden" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_menu.id) }}">
    <button class="btn btn-danger">supprimer
        <i class="fa fa-trash-o"></i>
    </button>
</form>
