{% extends 'admin/admin.html.twig' %}

{% block title %}Modification de la catégorie du menu
{% endblock %}

{% block body %}
    <section class="container">


        <h1>Modification de la catégorie du menu</h1>


        {{ include('admin/category_menu/_form.html.twig', {'button_label': 'Update'}) }}

        <a class="btn btn-primary " href="{{ path('admin_category_menu_index') }}">retour</a>

        {{ include('admin/category_menu/_delete_form.html.twig') }}

    </section>
{% endblock %}
