{% extends 'admin/admin.html.twig' %}

{% block title %}Nouvelle Categorie Menu
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Creation d'une nouvelle catégorie pour le Menu</h1>

        {{ include('admin/category_menu/_form.html.twig') }}
        <div class="mt-2 mn-5">
            <a class="btn btn-primary " href="{{ path('admin_category_menu_index') }}">retour</a>
        </div>
    </section>
{% endblock %}
