{% extends 'blog/public_show_index.html.twig' %}

    {% block blog %}
    <section class="container">
        <section class="post-content-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 posts-list">
                        {% for blog in blogs %}
                            <div class="single-post row mb-5">
                                <div class="col-lg-3  col-md-3 meta-details">
                                    <ul class="tags">
                                        <li>
                                            <a href="#">Food,</a>
                                        </li>
                                        <li>
                                            <a href="#">Technology,</a>
                                        </li>
                                        <li>
                                            <a href="#">Politics,</a>
                                        </li>
                                        <li>
                                            <a href="#">Lifestyle</a>
                                        </li>
                                    </ul>
                                    <div class="user-details row">
                                        <p class="user-name col-lg-12 col-md-12 col-6">
                                            <a href="#">Mark wiens</a>
                                            <span class="lnr lnr-user"></span></p>
                                        <p class="date col-lg-12 col-md-12 col-6">
                                            <a href="#">
                                                {{ blog.createdAt | date('d/m/y') }}
                                            </a>
                                            <span class="lnr lnr-calendar-full"></span></p>
                                        <p class="view col-lg-12 col-md-12 col-6">
                                            <a href="#">{{ blog.counter }} Views</a>
                                            <span class="lnr lnr-eye"></span></p>
                                        <p class="comments col-lg-12 col-md-12 col-6">
                                            <a href="#">{{ blog.coments|length }} Commentaires</a>
                                            <span class="lnr lnr-bubble"></span></p>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 ">
                                    <div class="feature-img">
                                        <img src="{{ vich_uploader_asset(blog, 'imageFile') }}" class="" alt="" width="100" height="">

                                    </div>
                                    <a class="posts-title" href="{{ path('blog_show', {'id': blog.id, 'slug': blog.slug}) }}">
                                        <h3>{{ blog.title }}</h3>
                                    </a>
                                    <p class="excert">
                                        {{ blog.content | slice(0,200) | raw }}
                                    </p>
                                    <a href=" {{ path('blog_show', {'id': blog.id, 'slug': blog.slug}) }} " class="primary-btn">Lire plus</a>
                                </div>
							
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </section>
    </section>
{% endblock %}
