{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block slide %} 
<!-- start banner Area -->
           
            <!-- End banner Area -->
{% endblock %}

{% block body %}
<link href=" {{ asset('css/pagination.css') }} " rel="stylesheet">

        <!-- Start top-category-widget Area -->
<section class="top-category-widget-area pt-90 pb-90 ">
	<div class="container">
        <div class="row">	
            {% for categorie in categories %}	
                <div class="col-lg-4 " >
					<div class="single-cat-widget">
						<div class="content relative">
							<div class="overlay overlay-bg"></div>
								<a href=" {{ path('blog_categorie_index', {'id': categorie.id}) }} ">
								    <div class="thumb">
								  		<img class="content-image img-fluid d-block mx-auto" src="{{ vich_uploader_asset(categorie, 'imageFile') }}" alt="">
								  	</div>
								    <div class="content-details">
								        <h4 class="content-title mx-auto text-uppercase"> {{categorie.title}} </h4>
								        <span></span>								        
								        <p>{{categorie.description}}</p>
								    </div>
								</a>
						</div>
					</div>
                </div>
            {% endfor %}							
		</div>
	</div>	
</section>
			<!-- End top-category-widget Area -->
{% block blog %}
    <section class="container">
        <section class="post-content-area">
            <div class="container">
               <!-- <div class="row"> -->
                    <div class="row d-flex justify-content-around posts-list">
                        {% for blog in blogs %}
                            <div class="col-s-12 col-sm-12 col-md-6 single-post row mb-5">
                                <div class="col-lg-3  col-md-3 meta-details">
                                    <ul class="tags">
                                        <li>
                                           <a href="#">{{ blog.categoryBlog.title }}</a>
                                        </li>
                                    </ul>
                                    <div class="user-details row">
                                        <p class="user-name col-lg-12 col-md-12 col-6">
                                            <a href="#"> {% if blog.user %}{{blog.user.username}} {% else %} Wanagaine {% endif %}
                                             </a>
                                            <span class="lnr lnr-user"></span></p>
                                        <p class="date col-lg-12 col-md-12 col-6">
                                            <a href="#">
                                                {{ blog.createdAt | date('d/m/y') }}
                                            </a>
                                            <span class="lnr lnr-calendar-full"></span></p>
                                        <p class="view col-lg-12 col-md-12 col-6">
                                            <a href="#">{{ blog.counter }} Views</a>
                                            <span class="lnr lnr-eye"></span></p>
                                        <p class="comments col-lg-12 col-md-12 col-6">
                                            <a href="#">{{ blog.coments|length }} Commentaires</a>
                                            <span class="lnr lnr-bubble"></span></p>
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 ">
                                    <div class="feature-img">
                                        <img src="{{ vich_uploader_asset(blog, 'imageFile') }}" class="" alt="" width="100" height="">

                                    </div>
                                    <a class="posts-title" href="{{ path('blog_show', {'id': blog.id, 'slug': blog.slug}) }}">
                                        <h3>{{ blog.title }}</h3>
                                    </a>
                                    <p class="excert">
                                        {{ blog.content | slice(0,200) | raw }}
                                    </p>
                                    <a href=" {{ path('blog_show', {'id': blog.id, 'slug': blog.slug}) }} " class="primary-btn border border-danger">Lire plus</a>
                                </div>
							
                            </div>
                        {% endfor %}
                    </div>
               <!-- </div> -->
            </div>
            <div class="row">
                <div class="pagination mb-5 ml-auto mr-auto text-purple">
                {{ knp_pagination_render(blogs)}}
                </div>
            </div>
        </section>
       
    </section>
    {% endblock %}
{% endblock %}
