{% extends '/blog/public_show_index.html.twig' %}

{% block title %}{{ blog.title }}{% endblock %}

{% block blog %}



    <script>
        function addVue() {
            // utilisation du setTimeout initialisation qui se déclenche à 4 secondes  
            setTimeout(function () {
                $.ajax({
                    //appelle l'url qui contient la function d'incrémentation de vue
                    url: "{{ path('blog_count', {'id': blog.id}) }}", type: 'GET', 
                });
            }, 4000);
        }

        $(document).ready(function () {
            addVue();
        });

        (function(d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v3.0";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
        
    </script>
<head>
  <title>wanagaine</title>
  <meta property="og:url"           content="{{ url('blog_show', {'id': blog.id, 'slug': blog.slug}) }}" />
  <meta property="og:type"          content="website" />
  <meta property="og:title"         content="{{blog.title}}" />
  <meta property="og:description"   content="{{blog.content | slice(0,200) | raw }}" />
  <meta property="og:image"         content="{{absolute_url(vich_uploader_asset(blog, 'imageFile')) }}" />
  <meta property="og:locale"        content="fr_FR" />
</head>
 
    <section class="post-content-area p-5">
        <div class="container">
            <div class="text-center">
            
                <h1>{{ blog.title }}</h1>
                
            </div>
            <div class="row">

                <div class="col-lg-8 posts-list">
                
                    <div class="single-post row">

                        <div class="col-lg-3  col-md-3 meta-details">
                            <ul class="tags">
                                <li>
                                    <a href="#">Food,</a>
                                </li>
                                <li>
                                    <a href="#">Technology,</a>
                                </li>
                                <li>
                                    <a href="#">Politics,</a>
                                </li>
                                <li>
                                    <a href="#">Lifestyle</a>
                                </li>
                                 <div id="fb-root"></div>
                            <div class="fb-share-button" 
                                data-href="{{ url('blog_show', {'id': blog.id, 'slug': blog.slug}) }}" 
                                data-layout="button_count">
                            </div>
                            </ul>
                            <div class="user-details row">
                                <p class="user-name col-lg-12 col-md-12 col-6">
                                
                                    <a href="#"> {% if blog.user == null %}Wanagaine{% else %} {{blog.user.username}}{% endif %} </a>
                                    <span class="lnr lnr-user"></span></p>
                                <p class="date col-lg-12 col-md-12 col-6">
                                    <a href="#">
                                        {{ blog.createdAt | date('d/m/y') }}
                                    </a>
                                    <span class="lnr lnr-calendar-full"></span></p>
                                <p class="view col-lg-12 col-md-12 col-6">
                                    <a href="#">
                                        {{ blog.counter }}
                                        Views</a>
                                    <span class="lnr lnr-eye"></span></p>
                                <p class="comments col-lg-12 col-md-12 col-6">
                                    <a href="#">{{ blog.coments|length }}
                                        Comments</a>
                                    <span class="lnr lnr-bubble"></span></p>
                            </div>

                        </div>
                        <div class="col-lg-9 col-md-9 ">
                            <div class="feature-img">
                                <img src="{{ vich_uploader_asset(blog, 'imageFile') }}" alt="">
                            </div>
                            <h3>{{ blog.title }}</h3>
                            <p class="excert">
                                {{ blog.content | raw }}
                            </p>
                            {% if is_granted('ROLE_ADMIN') %}
                                <div class="row p-2">
                                    <a class=" btn btn-primary" href="{{ path('admin_blog_edit', {'id': blog.id}) }}">modifier</a>

                                    {{ include('admin/blog/_delete_form.html.twig') }}
                                </div>
                            {% endif %}

                            <div class="comments-area">
								<h4>{{ blog.coments|length }} Commentaires</h4>
                                {% for comment in blog.coments %}
                                <pre>
                                    {{ dump(comment) }}
                                </pre>
								<div class="comment-list">
                                    <div class="single-comment justify-content-between d-flex">
                                        <div class="user justify-content-between d-flex">
                                            <div class="thumb">
                                                <img src="img/blog/c1.jpg" alt="">
                                            </div>
                                            <div class="desc">
                                                <h5><a href="#">{{ comment.author }}</a></h5>
                                                <p class="date">{{ comment.createdAt | date('d/M/Y') }} à {{ comment.createdAt | date('H:i:s') }}  </p>
                                                <p class="comment">
                                                    {{comment.content}}
                                                </p>
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                                {% endfor %}

                                <div class="comment-form">
								<h4>Laisser un commentaire</h4>
								{{ form_start(form) }}
									<div class="form-group form-inline">
									  <div class="form-group col-lg-6 col-md-12 name">
                                      {% if app.user %}
                                        {{ form_widget(form.author, {'attr': {'value': app.user.username }})}}
                                      {% else %}
                                        {{ form_widget(form.author)}}
									  {% endif %}
                                      </div>
									</div>
									<div class="form-group">
								         {{ form_widget(form.content) }}
                                    </div>
								    <button class="primary-btn text-uppercase">{{ button_label|default('Commenter') }}</button>
								 {{ form_end(form) }}
							</div>
                            </div>
                        </div>
                            
                        <div class="mt-2 mb-5">

                        </div>
                    </div>

                </div>
            </div>
            <a class="btn btn-secondary" href="{{ path('blog_public_index') }}">Retour</a>

        </div>

    </section>

{% endblock %}
