<form method="post" action="{{ path('admin_coments_delete', {'id': coment.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ coment.id) }}">
    <button class="btn btn-danger">Suprimer</button>
</form>
