{% extends 'admin/admin.html.twig' %}

{% block title %}Edit Coments{% endblock %}

{% block body %}
    <h1>Edit Coments</h1>

    {{ include('admin/coments/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('admin_coments_index') }}">retour</a>

    {{ include('admin/coments/_delete_form.html.twig') }}
{% endblock %}
