{% extends 'admin/admin.html.twig' %}

{% block title %}Coments index{% endblock %}

{% block body %}
    <h1>Coments index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Author</th>
                <th>Content</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for coment in coments %}
            <tr>
                <td>{{ coment.id }}</td>
                <td>{{ coment.author }}</td>
                <td>{{ coment.content }}</td>
                <td>{{ coment.createdAt ? coment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('coments_show', {'id': coment.id}) }}">show</a>
                    <a href="{{ path('coments_edit', {'id': coment.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
