{% extends 'admin/admin.html.twig' %}

{% block title %}Coments{% endblock %}

{% block body %}

<section class="container">
    <h1>Coments</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ coment.id }}</td>
            </tr>
               <tr>
                <th>créer le :</th>
                <td>{{ coment.createdAt ? coment.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>par :</th>
                <td>{{ coment.author }}</td>
            </tr>
            <tr>
                <th>contenu</th>
                <td>{{ coment.content }}</td>
            </tr>
            <tr>
                blog :
                <td> <a href={{ path('blog_show', {'id' : coment.blog.id , 'slug': coment.blog.slug} )}}> voir le blog</a>  </td>
            </tr>
        </tbody>
    </table>
    <pre>
        {{ dump(coment.blog.id) }}
    </pre>
    <a class="btn btn-secondary" href="{{ path('admin_coments_index') }}">retour</a>

    {{ include('admin/coments/_delete_form.html.twig') }}
</section>
{% endblock %}
