<form method="post" action="{{ path('admin_category_blog_delete', {'id': category_blog.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_method" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ category_blog.id) }}">
    <button class="btn btn-danger">supprimer <i class="fa fa-trash-o"></i></button>
</form>
