
{{ form_start(form) }}
    {{ form_widget(form)}}
    <div class="col-lg-3 col-md-4 col-6">
          <a href="#" class="d-block mb-4 h-100">
            <img id="render" class="img-fluid img-thumbnail" src={% if category_blog.image %}"{{ vich_uploader_asset(category_blog, 'imageFile') }}" {% else %} "" {% endif %}
              alt="">
          </a>
    </div>
    
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

{# fonction qui gére l'afficgache de la miniature  #}
 <script>
 function readURL(input) {
    if (input.files && input.files[0]) {
        var reader = new FileReader();

        reader.onload = function (e) {
            $('#render')
                .attr('src', e.target.result);
        };

        reader.readAsDataURL(input.files[0]);
    }
}
 </script>
