{% extends 'admin/admin.html.twig' %}

{% block title %}Modification de la catégorie du blog
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Modification de la catégorie du blog</h1>

        {{ include('admin/category_blog/_form.html.twig', {'button_label': 'Modifier'}) }}

        <a href="{{ path('admin_category_blog_index') }}">retour
        </a>

        {{ include('admin/category_blog/_delete_form.html.twig') }}
    </section>
{% endblock %}
