{% extends 'admin/admin.html.twig' %}

{% block title %}Gestion des categories de blog
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Categories de blog</h1>

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Titre</th>
                    <th>Description</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for category_blog in category_blogs %}
                    <tr>
                        <td>{{ category_blog.id }}</td>
                        <td>{{ category_blog.title }}</td>
                        <td>{{ category_blog.description }}</td>
                        <td>
                            <a class="btn btn-secondary" href="{{ path('category_blog_show', {'id': category_blog.id}) }}">show
                                <i class="fa fa-eye"></i>
                            </a>
                            <a class="btn btn-primary" href="{{ path('admin_category_blog_edit', {'id': category_blog.id}) }}">edit</a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="5">Aucune catégorie</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-success" href="{{ path('admin_category_blog_new') }}">Nouveau
            <i class="fa fa-plus"></i>
        </a>
    </section>
{% endblock %}
