{% extends 'admin/admin.html.twig' %}

{% block title %}Nouvelle categorie Blog
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Création d'une nouvelle categorie pour le Blog</h1>

        {{ include('admin/category_blog/_form.html.twig') }}
        <div class="mt-2 mb-5">
            <a class="btn btn-secondary" href="{{ path('admin_category_blog_index') }}">Retour</a>
        </div>
    </section>
{% endblock %}
