<!DOCTYPE html>
<html class="no-js" lang="fr">
    <head>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <!------ Include the above in your HEAD tag ---------->

        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" id="bootstrap-css" rel="stylesheet">
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title>
            {% block title %}wanagaine
            {% endblock %}
        </title>
        {% block stylesheets %}{% endblock %}
        <!-- Mobile Specific Meta -->
        <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
        <!-- Favicon-->
        <link rel="shortcut icon" href="{{ asset('img/fav.png') }}">
        <!-- Author Meta -->
        <meta content="colorlib" name="author">
        <!-- Meta Description -->
        <meta name="description" content="{% block metaDescription %}{% endblock %}">
        <!-- Meta Keyword -->
        <meta content="" name="keywords">
        <!-- meta character set -->
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{{ asset('css/modalPerso.css') }}">
        <link href="https://fonts.googleapis.com/css?family=Love+Ya+Like+A+Sister" rel="stylesheet">

        <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
        <!-- CSS ============================================= -->
        <link href=" {{ asset('css/linearicons.css') }} " rel="stylesheet">
        <link href=" {{ asset('css/font-awesome.min.css') }} " rel="stylesheet">
        <link href=" {{ asset('css/bootstrap.css') }} " rel="stylesheet">
        <link href=" {{ asset('css/magnific-popup.css') }} " rel="stylesheet">
        <link href=" {{ asset('css/jquery-ui.css') }} " rel="stylesheet">
        <link href=" {{ asset('css/nice-select.css') }} " rel="stylesheet">
        <link href=" {{ asset('css/animate.min.css') }} " rel="stylesheet">
        <link href=" {{ asset('css/owl.carousel.css') }} " rel="stylesheet">
        <link href=" {{ asset('css/main.css') }} " rel="stylesheet">

    </head>
    <body>
        <style>
            h1 {
                font-family: 'Love Ya Like A Sister', cursive;
            }
            .mar {
                margin-right: 10 em;
            }
        </style>

        {% block javascripts %}{% endblock %}

        <header id="header" style="background-color: rgba(34,34,34,0.9);">
            {# <div class="header-top">
            					<div class="container">
            				  		<div class="row justify-content-center">
            						      <div id="logo">
            						        <a href="index.html"><img src="{{ asset('img/logo-wanagaine.jpg')}}" alt="" title="" /></a>
            						      </div>
            				  		</div>			  					
            					</div>
            				</div> #}
            <div class="container main-menu">
                <div class="row align-items-center justify-content-center d-flex">
                    <nav id="nav-menu-container">
                        <ul class="nav-menu">
                            <li>
                                <a href="{{path("home")}}">wanagaine</a>
                            </li>
                            <li>
                                <a href="about.html">About</a>
                            </li>
                            <li>
                                <a href="{{ path("menu_public_index") }}">Menu</a>
                            </li>
                            {# <li><a href="{{path("gallery") }}">Gallery</a></li> #}
                            <li class="menu-has-children">
                                <a href="{{ path("blog_public_index") }}">Blog</a>
                            </li>
                            <li class="menu-has-children">
                                <a href="">events</a>
                            </li>
                            <li>
                                <a href="{{path("contact") }}">Contact</a>
                            </li>
                            {% if not app.user %}

                                <a class="btn btn-dark my-sm-0 mr-3" href="{{path("app_login") }}" role="button">Espace membre
                                    <i class="fa fa-unlock-alt"></i>
                                </a>
                            {% else %}

                                {% if app.user %}
                                    <li>
                                        <a class="btn btn-success my-sm-0 mr-3" href="{{path("admin") }}" role="button">Espace administration
                                            <i class="fa fa-unlock-alt"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a class="btn btn-danger my-sm-0" href="{{path("logout") }}" role="button">Deconnexion</a>
                                    </li>
                                    <li>
                                        <a class="btn btn-secondary my-sm-0" href="{{path('user_show', {'id': app.user.id} ) }}" role="button">Mon profil</a>
                                    </li>
                                    <li>
                                        <p class="ml-2 mb-0 btn" style="color: white; background-color: #3339;">
                                            Bonjour,
                                            {{ app.user.username }}
                                            !</p>
                                    </li>
                                {% endif %}
                            {% endif %}
                        </ul>
                    </nav>
                    <!-- #nav-menu-container -->
                </div>
            </div>
        </header>
        <!-- #header -->

        <!-- start banner Area -->
        {% block slide %}
            <section class="banner-area">
                <div class="container">
                    <div class="row fullscreen align-items-center justify-content-between">
                        <div class="col-lg-12 banner-content">
                            <h6 class="text-white">dans nos menu de ....
                            </h6>
                            <h1 class="text-white">Délicieux produits frais</h1>
                            <p class="text-white"></p>
                            <a href="{{path("menu_public_index") }}" class="primary-btn text-uppercase">Voir les menus</a>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End banner Area -->
        {% endblock %}

        {% block body %}
            <!-- Start home-about Area -->
            <section class="home-about-area section-gap">
                <div class="container">
                    <div class="row align-items-center">
                        <div class="col-lg-6 home-about-left">
                            <h1>à propos de nous !</h1>
                            <p>
                                Who are in extremely love with eco friendly system. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            </p>
                            <a class="primary-btn" href="#">view full menu</a>
                        </div>
                        <div class="col-lg-6 home-about-right">
                            <img alt="" class="img-fluid" src="img/about.png">
                        </div>
                    </div>
                </div>
            </section>
            <!-- End home-about Area -->
            <!-- Start menu-area Area -->
            <section
                class="menu-area section-gap" id="menu">
                {# <div class="container menu-fond"> #}
                <div class="container ">
                    <div class="row d-flex justify-content-center">
                        <div class="menu-content pb-70 col-lg-8">
                            <div class="title text-center">
                                <h1 class="mb-10">Voici ce que nous vous servons</h1>
                                <p>Des produits frais et fait maison.</p>
                            </div>
                        </div>
                    </div>

                    <ul class="filter-wrap filters col-lg-12 no-padding">
                        <li class="active" data-filter="*">Tous</li>
                        {% for categorie in categories %}
                            <li data-filter=".{{ categorie.name }}">{{ categorie.name }}</li>
                        {% endfor %}
                    </ul>

                    <div class="filters-content">
                        <div class="row grid">

                            {% for menu in menus %}
                                {# {{ dump(menu) }} #}
                                {% if menu.publish %}
                                    <div class="single-menu bg-muted col-md-6 all pl-3 {{ menu.CategoryMenu.name }}" style="background: none;">

                                        <img id="myImg{{menu.id}}" src="{{ vich_uploader_asset(menu, 'imageFile') }}" class="pull-left m-auto rounded-circle sm-12 mr-5 myImg" alt="{{ menu.name }}" width="100" height="100">

                                        <div class=" m-auto p-0 sm-12">

                                            <div class="title-wrap d-flex justify-content-between">
                                                <h4>{{ menu.name }}</h4>
                                                <h4 class="price">{{ menu.price }}
                                                    €</h4>
                                            </div>
                                            <div class="title-wrap d-flex flex-column">
                                                <p>
                                                    {{ menu.content }}
                                                </p>
                                                {% if menu.subDescription %}
                                                    <p>
                                                        {{ menu.subDescription  }}
                                                    </p>
                                                {% endif %}
                                            </div>

                                        </div>

                                    </div>
                                {% endif %}
                                <div class="modal" id="myModal{{menu.id}}">
                                    <span class="close{{menu.id}} close">&times;</span>
                                    <img class="modal-content" id="img{{menu.id}}">
                                    <div class="caption" id="caption{{menu.id}}"></div>
                                </div>
                                <script>
                                    // récupére le modal
                                    var modal = document.getElementById('myModal{{menu.id}}');

                                    // récupere l'image et l'insert dans le modal - utilise le titre du menu pour le caption
                                    var img{{menu.id}} = document.getElementById('myImg{{menu.id}}');
                                    var modalImg = document.getElementById("img{{menu.id}}");
                                    var captionText = document.getElementById("caption{{menu.id}}");
                                    img{{menu.id}}.onclick = function () {
                                        modal.style.display = "block";
                                        modalImg.src = this.src;
                                        captionText.innerHTML = this.alt;
                                    }

                                    var span = document.getElementsByClassName("close{{menu.id}}")[0];

                                    // quand on click sur le <span> (x), fermeture du modal
                                    span.onclick = function () {
                                        modal.style.display = "none";
                                    }
                                </script>

                            {% endfor %}
                        </div>
                    </div>

                </div>
            </section>

            <!-- Start reservation Area -->
            <section class="reservation-area section-gap relative">
                <div class="overlay overlay-bg" style="z-index:1000;">
                    <div class="d-flex justify-content-center p-auto">
                        <h1 class="text-white">Bientôt la reservation en ligne</h1>
                    </div>
                </div>
                <div class="container">
                    <div class="row justify-content-between align-items-center">
                        <div class="col-lg-6 reservation-left">
                            <h1 class="text-white">Reserve Your Seats to Confirm if You Come with Your Family</h1>
                            <p
                                class="text-white pt-20">{# Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam. Quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea. #}
                            </p>
                        </div>
                        <div class="col-lg-5 reservation-right">
                            <form action="#" class="form-wrap text-center">
                                <input class="form-control" name="name" onblur="this.placeholder = 'Your Name'" onfocus="this.placeholder = ''" placeholder="Your Name" type="text">
                                <input class="form-control" name="email" onblur="this.placeholder = 'Your Email Address'" onfocus="this.placeholder = ''" placeholder="Your Email Address" type="email">
                                <input class="form-control" name="phone" onblur="this.placeholder = 'Phone Number'" onfocus="this.placeholder = ''" placeholder="Phone Number" type="text">
                                <input class="form-control date-picker" name="date" onblur="this.placeholder = 'Select Date & time'" onfocus="this.placeholder = ''" placeholder="Select Date & time" type="text">
                                <div class="form-select" id="service-select">
                                    <select>
                                        <option data-display="">Select Event</option>
                                        <option value="1">Event One</option>
                                        <option value="2">Event Two</option>
                                        <option value="3">Event Three</option>
                                        <option value="4">Event Four</option>
                                    </select>
                                </div>
                                <button class="primary-btn text-uppercase mt-20">Valider la Reservation</button>
                            </form>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End reservation Area -->

            <!-- Start review Area -->
                <section class="review-area section-gap"> <div class="container">
                    <div class="row">
                        <div
                            class="active-review-carusel">
                            {# récupére tout les votes #}
                            {% for vote in votes %}
                                <div class="single-review">
                                    {% for img in pictures %}
                                        {% if img.user == vote.users %}
                                            <img class="rounded-circle" style="height: 80px; with: 80px;" src="{{ vich_uploader_asset(img, 'imageFile' ) | imagine_filter('thumb')}}" alt="">
                                        {% endif %}
                                    {% endfor %}
                                    <h4>
                                        {{ vote.users.name }}
                                    </h4>
                                    <div
                                        class="star">
                                        {# récupée la valeur du vote.vote dans la base de donnée #}
                                        {% for i in 1..vote.vote %}
                                            {# affiche le nombre d'étoile en fonction du résultat du vote #}
                                            <span class="fa fa-star checked "></span>
                                        {% endfor %}
                                        {# affiche le nombre d'étoile restante #}
                                        {% if (5 - vote.vote != 0) %}
                                            {# retire la valeur restante par rapport à la base moins le vote #}
                                            {% for i in 1..(5 - vote.vote) %}
                                                {# affiche le nombre d'étoile restante en gris si necessaire #}
                                                <span class="fa fa-star"></span>
                                            {% endfor %}
                                        {% endif %}
                                    </div>
                                    <p>
                                        {{ vote.content }}
                                    </p>
                                </div>
                            {% endfor %}
                            <div class="single-review">
                                <img alt="" src="img/user.png">
                                <h4>Hulda Sutton</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <p>
                                    “Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.”
                                </p>
                            </div>
                            <div class="single-review">
                                <img alt="" src="img/user.png">
                                <h4>Hulda Sutton</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <p>
                                    “Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.”
                                </p>
                            </div>
                            <div class="single-review">
                                <img alt="" src="img/user.png">
                                <h4>Hulda Sutton</h4>
                                <div class="star">
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star checked"></span>
                                    <span class="fa fa-star"></span>
                                </div>
                                <p>
                                    “Accessories Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker. Here you can find the best computer accessory for your laptop, monitor, printer, scanner, speaker.”
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <!-- End review Area -->

            <!-- Start blog Area -->
            <section class="blog-area section-gap" id="blog">
                <div class="container">
                    <div class="row d-flex justify-content-center">
                        <div class="menu-content pb-70 col-lg-8">
                            <div class="title text-center">
                                <h1 class="mb-10">Latest From Our Blog</h1>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                            <div class="thumb">
                                <img alt="" class="img-fluid" src="img/b1.jpg">
                            </div>
                            <p class="date">10 Jan 2018</p>
                            <a href="blog-single.html">
                                <h4>Cooking Perfect Fried Rice in minutes</h4>
                            </a>
                            <p>
                                inappropriate behavior ipsum dolor sit amet, consectetur.
                            </p>
                            <div class="meta-bottom d-flex justify-content-between">
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    15 Likes</p>
                                <p>
                                    <span class="lnr lnr-bubble"></span>
                                    02 Comments</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                            <div class="thumb">
                                <img alt="" class="img-fluid" src="img/b2.jpg">
                            </div>
                            <p class="date">10 Jan 2018</p>
                            <a href="blog-single.html">
                                <h4>Secret of making Heart Shaped eggs</h4>
                            </a>
                            <p>
                                inappropriate behavior ipsum dolor sit amet, consectetur.
                            </p>
                            <div class="meta-bottom d-flex justify-content-between">
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    15 Likes</p>
                                <p>
                                    <span class="lnr lnr-bubble"></span>
                                    02 Comments</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                            <div class="thumb">
                                <img alt="" class="img-fluid" src="img/b3.jpg">
                            </div>
                            <p class="date">10 Jan 2018</p>
                            <a href="blog-single.html">
                                <h4>How to check steak if it is tender or not</h4>
                            </a>
                            <p>
                                inappropriate behavior ipsum dolor sit amet, consectetur.
                            </p>
                            <div class="meta-bottom d-flex justify-content-between">
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    15 Likes</p>
                                <p>
                                    <span class="lnr lnr-bubble"></span>
                                    02 Comments</p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-6 single-blog">
                            <div class="thumb">
                                <img alt="" class="img-fluid" src="img/b4.jpg">
                            </div>
                            <p class="date">10 Jan 2018</p>
                            <a href="blog-single.html">
                                <h4>Seaseme and black seed Flavored Bun Rocks</h4>
                            </a>
                            <p>
                                inappropriate behavior ipsum dolor sit amet, consectetur.
                            </p>
                            <div class="meta-bottom d-flex justify-content-between">
                                <p>
                                    <span class="lnr lnr-heart"></span>
                                    15 Likes</p>
                                <p>
                                    <span class="lnr lnr-bubble"></span>
                                    02 Comments</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- End blog Area -->
        {% endblock %}

        <!-- start footer Area -->
        <footer class="footer-area">
            <div class="footer-widget-wrap">
                <div class="container">
                    <div class="row section-gap">
                        <div class="col-lg-4  col-md-6 col-sm-6">
                            <div class="single-footer-widget">
                                <h4>Heures d'ouvertures</h4>
                                <ul class="hr-list">
                                    <li class="d-flex justify-content-between">
                                        <span>Mercredi - Dimanche</span>
                                        <span>11:00 - 14:00
                                        </span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <span>Lundi</span>
                                        <span>FERMER</span>
                                    </li>
                                    <li class="d-flex justify-content-between">
                                        <span>Mardi</span>
                                        <span>FERMER</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-lg-4  col-md-6 col-sm-6">
                            <div class="single-footer-widget">
                                <h4>Nous contacter</h4>
                                <p>
                                    38 Avenue de la gare 34290 Espondeilhan, Languedoc-Roussillon, France</p>
                                <p class="number">
                                    04-67-77-65-19<br>

                                </p>
                            </div>
                        </div>
                        <div class="col-lg-4  col-md-6 col-sm-6">
                            <div class="single-footer-widget">
                                <h4>Newsletter</h4>
                                <p>You can trust us. we only send promo offers, not a single spam.</p>
                                <div class="d-flex flex-row" id="mc_embed_signup">

                                    <form action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01" class="navbar-form" method="get">
                                        <div class="input-group add-on align-items-center d-flex">
                                            <input class="form-control" name="EMAIL" onblur="this.placeholder = 'Your Email address'" onfocus="this.placeholder = ''" placeholder="Your Email address" required="" type="email">
                                            <div style="position: absolute; left: -5000px;">
                                                <input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" type="text" value="">
                                            </div>
                                            <div class="input-group-btn">
                                                <button class="genric-btn">
                                                    <span class="lnr lnr-arrow-right"></span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="info mt-20"></div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </footer>
        <!-- End footer Area -->

        <script src="{{ asset('js/vendor/jquery-2.2.4.min.js') }}"></script>
        {#<script src="{{ asset('js/popper.min.js') }}"></script> #}
        <script src="{{ asset('js/vendor/bootstrap.min.js') }}"></script>
        <script src="{{ asset('js/jquery-ui.js') }}"></script>
       {#<script src="{{ asset('js/easing.min.js') }}"></script>
        <script src="{{ asset('js/hoverIntent.js') }}"></script>#}
         <script src="{{ asset('js/superfish.min.js') }}"></script> 
        <script src="{{ asset('js/jquery.ajaxchimp.min.js') }}"></script>
        <script src="{{ asset('js/jquery.magnific-popup.min.js') }}"></script>
        <script src="{{ asset('js/jquery.nice-select.min.js') }}"></script>
        <script src="{{ asset('js/owl.carousel.min.js') }}"></script>
       <script src="{{ asset('js/isotope.pkgd.min.js') }}"></script>
       {#  <script src="{{ asset('js/mail-script.js') }}"></script> #}
        <script src="{{ asset('js/main.js') }}"></script>

    </body>
</html>
