{% extends 'base.html.twig' %}
{% block javascript %}{% endblock %}

{% block title %}Nos menus
{% endblock %}

{% block slide %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.slim.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"></script>

  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
  
    <style>
        .carousel-item {
  height: 100vh;
  min-height: 350px;
  background: no-repeat center center scroll;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  
}
.carousel-caption{
    background-color: #0000004d;
}
    </style>

 <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
    {% for menu in menus %}
      <li data-target="#carouselIndicators" data-slide-to="{{loop.index - 1}}" class="{% if loop.index == 0 %} active {% endif %}"></li>
    {% endfor %}
    </ol>
    <div class="carousel-inner" role="listbox">
      <!-- Slide One - Set the background image for this slide in the line below -->
      {% for menu in menus %} 
      
        <div class="carousel-item {% if loop.index == 1 %} active {% endif %}" style="background-image: url('{{ vich_uploader_asset(menu, 'imageFile') }}')">
            <div class="carousel-caption  d-md-block">
            <h2 class="text-white">{{menu.name}}</h2>
            </div>
        </div>
      {% endfor %}
    </div>
    <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
    <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
  </div>
{% endblock %}
{% block body %}
    <link rel="stylesheet" href="{{ asset('css/modalPerso.css') }}">
    <!-- Start menu-area Area -->
    <section
        class="menu-area section-gap" id="menu">
        {# <div class="container menu-fond"> #}
        <div class="container ">
            <div class="row d-flex justify-content-center">
                <div class="menu-content pb-70 col-lg-8">
                    <div class="title text-center">
                        <h1 class="mb-10">Voici ce que nous vous servons</h1>
                        <p>Des produits frais et fait maison.</p>
                    </div>
                </div>
            </div>

            <ul class="filter-wrap filters col-lg-12 no-padding">
                <li class="active" data-filter="*">Tous</li>
                {% for categorie in categories %}
                    <li data-filter=".{{ categorie.name }}">{{ categorie.name }}</li>
                {% endfor %}
            </ul>

            <div class="filters-content">
                <div class="row grid">

                    {% for menu in menus %}
                        {% if menu.publish %}
                            
                            <div class="single-menu bg-muted col-md-6 all pl-3 {{ menu.CategoryMenu.name }}" style="background: none;">

                                <img id="myImg{{menu.id}}" src="{{ vich_uploader_asset(menu, 'imageFile') }}" class="pull-left m-auto rounded-circle sm-12 mr-5 myImg" alt="{{ menu.name }}" width="100" height="100">

                                <div class=" m-auto p-0 sm-12">

                                    <div class="title-wrap d-flex justify-content-between">
                                        <h4>{{ menu.name }}</h4>
                                        <h4 class="price">{{ menu.price }}
                                            €</h4>
                                    </div>
                                    <div class="title-wrap d-flex flex-column">
                                        <p>
                                            {{ menu.content }}
                                        </p>
                                        {% if menu.subDescription %}
                                            <p>
                                                {{ menu.subDescription  }}
                                            </p>
                                        {% endif %}
                                    </div>

                                </div>

                            </div>
                        {% endif %}
                        <div class="modal" id="myModal{{menu.id}}">
                            <span class="close{{menu.id}} close">&times;</span>
                            <img class="modal-content" id="img{{menu.id}}">
                            <div class="caption" id="caption{{menu.id}}"></div>
                        </div>

                        <script>
                            // récupére le modal
                            var modal = document.getElementById('myModal{{menu.id}}');

                            // récupere l'image et l'insert dans le modal - utilise le titre du menu pour le caption
                            var img{{menu.id}} = document.getElementById('myImg{{menu.id}}');
                            var modalImg = document.getElementById("img{{menu.id}}");
                            var captionText = document.getElementById("caption{{menu.id}}");
                            img{{menu.id}}.onclick = function () {
                                modal.style.display = "block";
                                modalImg.src = this.src;
                                captionText.innerHTML = this.alt;
                            }

                            var span = document.getElementsByClassName("close{{menu.id}}")[0];

                            // quand on click sur le <span> (x), fermeture du modal
                            span.onclick = function () {
                                modal.style.display = "none";
                            }
                        </script>
                    {% endfor %}
                </div>
            </div>

        </div>
    </section>

    <!-- End menu-area Area -->

{% endblock %}
