{% extends 'base.html.twig' %}

{% block title %}Menu{% endblock %}

{% block body %}
<section class="container">
    <h1>Menu</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ menu.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ menu.name }}</td>
            </tr>
            <tr>
                <th>SubDescription</th>
                <td>{{ menu.subDescription }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ menu.content }}</td>
            </tr>
            <tr>
                <th>Price</th>
                <td>{{ menu.price }}</td>
            </tr>
        </tbody>
    </table>
    
    <a class="btn btn-secondary" href="{{ path('menu_index') }}">retour</a>

    <a class="btn btn-primary" href="{{ path('menu_edit', {'id': menu.id}) }}">edit</a>
    <div class="mt-2 mb-5">
    {{ include('menu/_delete_form.html.twig') }}
    </div>
</section>
{% endblock %}
