{% extends 'base.html.twig' %}

{% block title %}Liste des utilisateurs{% endblock %}

{% block body %}
<a class="btn btn-success" href="{{ path('user_new') }}">Nouveau <i class="fa fa-plus"></i></a>
{% for user in users %}
<div class="container wrap">
    <div class="row">
        <div class="col-xs-12 col-sm-6 col-md-6 offset-md-3">
            <div class="well well-sm">
                <div class="row">
                    <div class="col-sm-4 col-md-6 col-lg-7">
                        {# <img src="http://placehold.it/300x200" alt="" class="img-rounded img-fluid" /> #}
                   {% for image in images %}
                        {% if image.user == user %}
                
                            <img class="img-rounded img-fluid" src="{{ vich_uploader_asset(image, 'imageFile')}}" alt="">
                           
                        {% endif %}
                    {% endfor %}
                   
                    </div>
                    <div class="col-sm-8 col-md-6 col-lg-5">
                        <h4>{{ user.username }}</h4>
                        <small><cite title="San Diego, USA">San Diego, USA <i class="glyphicon glyphicon-map-marker"></i></cite></small>
                        <p>
                            <i class="glyphicon glyphicon-envelope"></i>{{ user.email }}
                            <br />
                            <i class="glyphicon glyphicon-globe"></i><a href="https://www.prepbootstrap.com">www.prepbootstrap.com</a>
                            <br />
                            <i class="glyphicon glyphicon-gift"></i>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}
                            <i class=""></i>{% for role in user.roles %} <br>{% if role == 'ROLE_ADMIN' %} <span class="bg-success text-light p-1">{{ 'ADMINISTRATEUR' }}</span> {% else %} <span class="bg-primary text-light p-1">{{ 'utilisateur' }}</span>{% endif %}
                           {% endfor %}
                        </p>
                        <div class="btn-group">
                            <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-facebook"></span></a>
                            <a href="#" class="btn btn-danger"><span class="fa fa-2x fa-google"></span></a>
                            <a href="#" class="btn btn-info"><span class="fa fa-2x fa-twitter"></span></a>
                            <a href="#" class="btn btn-primary"><span class="fa fa-2x fa-linkedin"></span></a>
                        </div>

                    <a class="btn btn-secondary"href="{{ path('user_show', {'id': user.id}) }}">show <i class="fa fa-eye"></i></a>
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
               
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}
 <a class="btn btn-success" href="{{ path('user_new') }}">Nouveau <i class="fa fa-plus"></i></a>
<style>
    .wrap
    {
        padding-top: 30px;
    }

    .glyphicon
    {
        margin-bottom: 10px;
        margin-right: 10px;
    }

    small
    {
        display: block;
        color: #888;
    }

    .well
    {
        border: 1px solid blue;
    }
</style>
<section class="container">
    <h1>Liste des utilisateurs</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Email</th>
                <th>Roles</th>
                <th>Username</th>
                <th>CreatedAt</th>
                <th>Name</th>
                <th>Lastname</th>
            
            </tr>
        </thead>
        <tbody>
        {% for user in users %}
            <tr>
                <td>{{ user.id }}</td>
                <td>{{ user.email }}</td>
                <td>{% for role in user.roles %} {{ role }} {% endfor %} </td>
                <td>{{ user.username }}</td>
                <td>{{ user.createdAt ? user.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ user.name }}</td>
                <td>{{ user.lastname }}</td>
    
                <td>
                    <a class="btn btn-secondary"href="{{ path('user_show', {'id': user.id}) }}">show <i class="fa fa-eye"></i></a>
                    <a class="btn btn-primary" href="{{ path('user_edit', {'id': user.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="14">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-success" href="{{ path('user_new') }}">Nouveau <i class="fa fa-plus"></i></a>
</section>
{% endblock %}
