{% extends 'base.html.twig' %}

{% block title %}Ajout utilisateur{% endblock %}

{% block body %}
<section class="container">
    <h1>Créer un urtilisateur</h1>

    {{ include('user/_form.html.twig') }}

    <a class="btn btn-secondary" href="{{ path('user_index') }}">Retour liste</a>

</section>
{% endblock %}
