{% extends 'base.html.twig' %}

{% block title %}Mon profile
{% endblock %}

{% block body %}

    <title>Informations</title>
    <meta charset="utf-8">
    <meta
    content="width=device-width, initial-scale=1" name="viewport">
    {# <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"> #}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <hr>

    {% block slide %}{% endblock %}
    <div class="container bootstrap snippet pt-3">


        <div class="row ">
            <div
                class="m-auto pt-5 col-sm-12">
                <!--left col-->

                <picture class="row justify-content-center flex-column col-">
                    {% if image %}

                        <img class="img-fluid mx-auto d-block" style="max-height: 250px; max-width: 350px;" src="{{ vich_uploader_asset(image, 'imageFile')}}" alt="">
                        <br>
                        <a class="btn btn-primary mx-auto d-block" href=" {{ path('pictures_edit', {'id': image.id})}} ">
                            modifier l'image</a>
                    {% else %}
                        <a href="{{ path('pictures_new')}}" class="btn btn-primary mx-auto d-block">ajouter une photo</a>
                    {% endif %}
                </picture>

                <br>


                <!--/col-9-->
            </div>
        </div>
        <div class="row">
            <div class="m-auto pt-5 col-sm-6">
                <div class="tab-content">
                    {% block admin %}
                        <div class="tab-pane active home">
                            <h4 class="m-3 text-center">Information personnel</h4>
                            <hr>
                            <div id="updateForm">

                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                Nom
                                            </h4>
                                            <p class="col-sm-6">
                                                {{ user.name }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                Prénom
                                            </h4>
                                            <p class="col-sm-6">
                                                {{ user.lastname }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                téléphone
                                            </h4>
                                            <p class="col-sm-6">
                                                {{ user.phone }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                Adresse
                                            </h4>
                                            <p class="col-sm-6">
                                                {{ user.adress }}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">

                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                ville
                                            </h4>
                                            <p class="col-sm-6">
                                                {{user.city}}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">
                                                Code postal
                                            </h4>
                                            <p class="col-sm-6">
                                                {{ user.zipCode }}
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <div class="row">
                                            <h4 class="col-sm-6">Pays</h4>
                                            <p class="col-sm-6">
                                                {{ user.pays }}
                                            </p>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-xs-12">
                                        <br>
                                        <a class="primary-btn" href=" {{ path('user_edit', {'id': user.id}) }} ">
                                            <i class="glyphicon glyphicon-ok-sign"></i>
                                            Modifier</a>
                                    </div>
                                </div>

                            </div>

                            <hr>
                        {% endblock %}

                    </div>
                    <!--/tab-pane-->

                </div>
                <!--/tab-content-->

            </div>
            <div class="m-auto pt-5 col-sm-6">

                {% if note is null %}
                    <h2>Ajouter un vote</h2>
                    <p>
                        Créer un vote

                    </p>
                    <a class="primary-btn" href=" {{ path('notations_new') }} ">
                        <i class="glyphicon glyphicon-ok-sign"></i>
                        creer</a>

                {% else %}
                    <div class="single-review">
                        <h2>Mon vote</h2>
                        <h4>
                            {{ note.users.username }}
                        </h4>
                        <div
                            class="star">
                            {# récupée la valeur du vote.vote dans la base de donnée #}
                            {% for i in 1..note.vote %}
                                {# affiche le nombre d'étoile en fonction du résultat du vote #}
                                <span class="fa fa-star checked "></span>
                            {% endfor %}
                            {# affiche le nombre d'étoile restante #}
                            {% if (5 - note.vote != 0) %}
                                {# retire la valeur restante par rapport à la base moins le vote #}
                                {% for i in 1..(5 - note.vote) %}
                                    {# affiche le nombre d'étoile restante en gris si necessaire #}
                                    <span class="fa fa-star"></span>
                                {% endfor %}
                            {% endif %}
                        </div>
                        <p>
                            {{ note.content }}
                        </p>
                    </div>
                    <div class="m-auto">
                        <a class="primary-btn" href="{{ path('notations_edit', {'id': note.id}) }} ">
                            modifier
                        </a>
                    </div>
                {% endif %}

            </div>
        </div>
    </div>
{% endblock %}
