{% extends 'admin/admin.html.twig' %}

{% block title %}Messagerie{% endblock %}

{% block body %}
<section class="container">
    <main role="main" class="container">
      <div class="d-flex align-items-center p-3 my-3 text-dark-50 bg-purple rounded box-shadow">
        <div class="lh-100">
          <h3 class="mb-0 text-dark lh-100">Boite de reception</h3>
          <small>wanagaine</small>
        </div>
      </div>
    
        <div class="my-3 p-3 bg-white rounded box-shadow ">
            <h6 class="border-bottom border-gray pb-2 mb-0">messagerie</h6>
            <div class="row">
            {% for contact in contacts %}
          
            
            <a href="{{ path('admin_contact_show', {'id': contact.id}) }}" class="col-sm-6 col-xs-12">
                <i class="fas fa-envelope fa-fw fa-5x {% if contact.view == true %} text-success {% else %} text-danger {% endif %} "></i>
                <div class=" text-muted pt-3 ">                    
                        <h6 class="text-secondary small">  {{ contact.sendAt ? contact.sendAt|date('Y-m-d') : '' }}</h6>
                   <p class="media-body pb-3 mb-0 small lh-125 border-bottom border-gray">
                        <strong class="d-block text-gray-dark">{{ contact.mailContact }}</strong>
                        {{ contact.subject }}
                    </p>          
                </div>
            </a>
            {% endfor %}
            </div>
        </div>
    </main>
</section>
    <h1>Contact index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>SendAt</th>
                <th>MailContact</th>
                <th>Subject</th>
                <th>Content</th>
                <th>Phone</th>
                <th>Name</th>
                <th>View</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for contact in contacts %}
            <tr>
                <td>{{ contact.id }}</td>
                <td>{{ contact.sendAt ? contact.sendAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ contact.mailContact }}</td>
                <td>{{ contact.subject }}</td>
                <td>{{ contact.content }}</td>
                <td>{{ contact.phone }}</td>
                <td>{{ contact.name }}</td>
                <td>{{ contact.view ? 'Yes' : 'No' }}</td>
                <td>
                    <a href="{{ path('admin_contact_show', {'id': contact.id}) }}">show</a>

                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
