{% extends 'admin/admin.html.twig' %}


{% block title %}Contact{% endblock %}

{% block body %}
<section class="container">
    <h1>Contact</h1>

    <table class="table">
        <tbody>
             <tr>
                <th>Nom</th>
                <td>{{ contact.name }}</td>
            </tr>
            <tr>
                <th>téléphone</th>
                <td>{{ contact.phone }}</td>
            </tr>
            <tr>
                <th>Mail</th>
                <td>{{ contact.mailContact }}</td>
            </tr>
            <tr>
                <th>Reçu</th>
                <td>{{ contact.sendAt ? contact.sendAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Sujet</th>
                <td>{{ contact.subject }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ contact.content }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-secondary" href="{{ path('admin_contact_index') }}">retour</a>



    {{ include('admin/contact/_delete_form.html.twig') }}
</section>
     <script>
        
        $(document).ready(function () {
            addVue();
        });
        function addVue() {
         
            if({{contact.view == false}}){
          
                setTimeout(function () {
                    $.ajax({
                        //appelle l'url qui contient la function ajoute la vue
                        url: "{{ path('contact_view', {'id': contact.id}) }}", type: 'GET', 
                    });
                }, 1000);
            }
        }
    
    </script>
{% endblock %}
