<form method="post" action="{{ path('admin_menu_delete', {'id': menu.id}) }}" onsubmit="return confirm('voulez-vous vraiment supprimer le menu = {{ menu.name }}  ');">
    <input name="_method" type="hidden" value="DELETE">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ menu.id) }}">
    <button class="btn btn-danger">supprimer<i class="fa fa-trash-o"></i>
    </button>
</form>
