
{{ form_start(form) }}
    {{ form_widget(form)}}
    <div class="col-lg-3 col-md-4 col-6">
      <a href="#" class="d-block mb-4 h-100">
            <img id="render" class="img-fluid img-thumbnail" src= {% if menu.image %} "{{ vich_uploader_asset(menu, 'imageFile') }}" {% else %} "" {% endif %}
              alt="">
          </a>
    </div>
    
    <button class="btn btn-success">{{ button_label|default('Enregistrer') }}</button>
{{ form_end(form) }}

{# fonction qui gére l'afficgache de la miniature  #}
 <script src="{{ asset('js/image.js') }}"></script>