{% extends 'admin/admin.html.twig' %}

{% block title %}Modification du Menu
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Modification du menu</h1>

        {{ include('admin/menu/_form.html.twig', {'button_label': 'Update'}) }}

        <a href="{{ path('admin_menu_index') }}">retour</a>

        {{ include('admin/menu/_delete_form.html.twig') }}
    </section>
{% endblock %}
