{% extends 'admin/admin.html.twig' %}

{% block title %}Liste des menus
{% endblock %}

{% block body %}

    <section class="container">
        <h1>Liste des Menus</h1>

        <table class="table table-striped table-dark">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>nom</th>
                    <th>sous-description</th>
                    <th>Contenu</th>
                    <th>Prix</th>
                    <th>actions</th>
                </tr>
            </thead>
            <tbody>
                {% for menu in menus %}
                    <tr>
                        <td class={% if menu.publish != true %}"bg-warning"{% else %} "bg-success"{% endif %}>{{ menu.id }}</td>
                        <td>{{ menu.name }}</td>
                        <td>{{ menu.subDescription }}</td>
                        <td>{{ menu.content }}</td>
                        <td>{{ menu.price }}</td>
                        <td>
                            <a href="{{ path('admin_menu_show', {'id': menu.id}) }}" class="btn btn-success btn-circle btn-sm" data-toggle="tooltip" title="Voir le menu">
                                <i class="fas fa-eye"></i>
                            </a>
                            <a href="{{ path('admin_menu_edit', {'id': menu.id}) }}" class="btn btn-primary btn-circle btn-sm" data-toggle="tooltip" title="Modifier le menu">
                                <i class="fas fa-pencil-alt"></i>
                            </a>
                            <a class="btn btn-danger btn-circle btn-sm" data-toggle="tooltip" href="#" title="Supprimer">
                                <i class="fas fa-trash"></i>
                            </a>
                        </td>
                    </tr>
                {% else %}
                    <tr>
                        <td colspan="6">Aucun menu trouver</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="mt-2 mb-5">
            <a class="btn btn-success" href="{{ path('admin_menu_new') }}">Nouveau
                <i class="fa fa-plus"></i>
            </a>
        </div>
    </section>
{% endblock %}
