{% extends 'admin/admin.html.twig' %}

{% block title %}Nouveau Menu
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Creation d'un nouveau Menu</h1>

        {{ include('admin/menu/_form.html.twig') }}
        <div class="mt-2 mb-2">
            <a class="btn btn-secondary" href="{{ path('admin_menu_index') }}">Retour
            </a>
        </div>
    </section>
{% endblock %}
