{% extends 'admin/admin.html.twig' %}

{% block title %}Menu
{% endblock %}

{% block body %}
    <section class="container">
        <h1>Menu</h1>

        <table class="table">
            <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ menu.id }}</td>
                </tr>
                <tr>
                    <th>Nom</th>
                    <td>{{ menu.name }}</td>
                </tr>
                <tr>
                    <th>Sous-description</th>
                    <td>{{ menu.subDescription }}</td>
                </tr>
                <tr>
                    <th>Contenu</th>
                    <td>{{ menu.content }}</td>
                </tr>
                <tr>
                    <th>Prix</th>
                    <td>{{ menu.price }}</td>
                </tr>
            </tbody>
        </table>

        <a class="btn btn-secondary" href="{{ path('admin_menu_index') }}">retour</a>

        <a class="btn btn-primary" href="{{ path('admin_menu_edit', {'id': menu.id}) }}">Modifier</a>
        <div class="mt-2 mb-5">
            {{ include('admin/menu/_delete_form.html.twig') }}
        </div>
    </section>
{% endblock %}
